.setting_ul_1{
	margin-top: 0 !important;
}
.setting_ul_2{
	margin-top: 6px !important;
}
.setting_ul_2 li{
	padding: 15px 15px;
}
.if_get{
	float: right;
	margin-right:38px;
	color: #b0b0b0 !important;
}
