.photo_list{
	margin-top: 0.05rem;
	background: #fff;
}
.photo_list_title{
	margin-top: 0.05rem;
}
.photo_list_title_left{
	float: left;
	height: 0.48rem;
	margin-left: 0.06rem;
}

.photo_list_title_right{
	float: right;
	height: 0.48rem;
}
.photo_list_title_left div{
	color: #1c1c1c;
	font-size: 0.13rem;
}
.confirm_wait{
	display: inline-block;
	color: #fb7115;
	border: 1px solid #FB7115;
	border-radius: 0.05rem;
	padding: 0.01rem 0.04rem;
	font-size: 0.13rem;
	margin-top:0.1rem;
	margin-right: 0.15rem;
}
.confirm_text{
	display: inline-block;
	color: #00a0e9;
	border: 1px solid #00a0e9;
	border-radius: 0.05rem;
	padding: 0.01rem 0.04rem;
	font-size: 0.13rem;
	margin-top:0.1rem;
	margin-right: 0.15rem;
}
.confirm_wait{
	display: inline-block;
	color: #ffbe60;
	border: 1px solid #ffbe60;
	border-radius: 0.05rem;
	padding: 0.01rem 0.04rem;
	font-size: 0.13rem;
	margin-top:0.1rem;
	margin-right: 0.15rem;
}
.confirm_sure{
	display: inline-block;
	color: #00a0e9;
	border: 1px solid #00a0e9;
	border-radius: 0.05rem;
	padding: 0.01rem 0.04rem;
	font-size: 0.13rem;
	margin-top:0.1rem;
	margin-right: 0.15rem;
}
.confirm_cancel{
	display: inline-block;
	color: #666666;
	border: 1px solid #666666;
	border-radius: 0.05rem;
	padding: 0.01rem 0.04rem;
	font-size: 0.13rem;
	margin-top:0.1rem;
	margin-right: 0.15rem;
}
.title_left_time{
	
}
.title_left_content{

}
.swiper-slide img{
	height: 1rem;
}
