.photo_confirm_head{
	margin-top:44px;
	height: 0.67rem;
	line-height: 0.67rem;
	font-size: 0.13rem;
	text-align: center;
	color: #1c1c1c;
}
.photo_confirm_head span{
	color: #cb2920;
}
.photo_confirm_title{
	background: #fff;
	font-size: 0.13rem;
	line-height: 0.34rem;
	padding-left:0.05rem;
}
.photo_confirm_list{
	margin-top: 0.1rem;
	background: #fff;
}
.list_content{
	margin-left: 0.1rem;
	border-bottom: 1px solid #d0d0d0;
	padding-right: 0.1rem;
}
.list_content_head{
	float: left;
	height: 0.4rem;
	line-height: 0.4rem;
	font-size: 0.13rem;
}
.list_content_body{
	float: right;
	height: 0.4rem;
	line-height: 0.4rem;
	font-size: 0.13rem;
}
.content_last{
	border-bottom: none;
}
.swiper-slide img{
	height: 1rem;
}
