.feedback_nav_bottom{
	border-top: 1px solid #dbdbdb;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-top: 0.1rem;
}
.text_area{
	display: inline-block;
	width: 75% !important;
	margin-left: 5%;
}
.btn_send{
	margin-top: 0.02rem;
	margin-left: 0.1rem;
}
.chat_area{
	margin-top: 44px;
	text-align: center;
}
.add_time{
	display: inline-block;
	background: #dbdbdb;
	font-size: 0.1rem;
	padding: 0.02rem 0.1rem;
	border-radius: 0.1rem;
	color: #fff;
	margin-top: 0.1rem;
}
.reply_user{
	margin-top: 0.1rem;
	text-align: left;
	padding-left: 0.1rem;
	overflow: hidden;
	
}
.logo_img{
	width: 0.5rem;
	border-radius: 50%;
	float: left;
}
.reply_user_content{
	float: left;
	width: 70%;
	background: #fff;
	margin-left: 0.1rem;
	/*margin-top: 0.1rem;*/
	border-radius: 0.1rem;
	padding: 0.1rem;
}
.reply_time{
	display: inline-block;
	background: #dbdbdb;
	font-size: 0.1rem;
	padding: 0.02rem 0.1rem;
	border-radius: 0.1rem;
	color: #fff;
	margin-top: 0.1rem;
}
.content{
	text-align: right;
	margin-top: 0.1rem;
}
.thumb{
	width: 0.5rem;
	border-radius: 50%;
	float: right;
	margin-right: 0.1rem;
}
.content_content{
	float: right;
	width: 70%;
	background: #fff;
	margin-right: 0.1rem;
	border-radius: 0.1rem;
	padding: 0.1rem;
	text-align: left;
}
