.sel_year{
	display: inline-block;
	border: 1px solid #ddd !important;
	width: 0.7rem;
}
.sel_month{
	display: inline-block;
	border: 1px solid #ddd !important;
	width: 0.7rem;
}
.sel_day{
	display: inline-block;
	border: 1px solid #ddd !important;
	width: 0.7rem;
}
